body {
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.bodybackground {
    background-image: url("../images/bookwallpaper.jpg");
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

/* Carousel 
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    background-image: url("../images/bookwallpaper.jpg");
}
*/
/* Make .svg files in the carousel display properly in older browsers
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
     */
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens
@media screen and (max-width: 767px) {
  
    .carousel-caption {
        display: none;
    }
}
     */

/*Styling for the Search Bar*/
#bookSearch {
    list-style-type: none;
    text-decoration: none;
    margin-left: 290px;
    width: 420px;
    height: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bookSearch__button {
    height:40px;
}



#bookGrid {
    background-color: rgba(211, 207, 204, 0.822);
    border-radius: 25px;
    overflow:hidden;
}
.banner {
    width: 800px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 180px;
}

.col-md-3.bookGrid__book {
    text-align: center;
    justify-content: center;
    padding-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: black;
  
}



#h2BookShelfTitle {
    text-align: center;
    font-size: 60px;
    padding-top: 60px;
    padding-bottom: 40px;

}

#bookshelfcss {
    background-color: rgba(211, 207, 204, 0.822);
    border-radius: 25px;
}


/*DELETE PAGE:*/
.deletebodybackground {
    background-image: url("../images/p.jpg");
}

#borderForDeletePage {
    border-radius: 25px;
    background-color: white;
    border: solid;
    padding: 30px;
    width: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 240px;
}


/*DELTE PAGE ENDS*/


/*MY Friendships table:*/


#borderForMyFriendshipPage1 {
    border-radius: 25px;
    background-color: white;
    border: solid;
    padding: 30px;
    width: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 140px;
    border-color: royalblue;
    
}
#borderForMyFriendshipPage2 {
    border-radius: 25px;
    background-color: white;
    border: solid;
    padding: 30px;
    width: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 600px;
    margin-top: -395px;
    border-color: royalblue;
}

#deleteTrackedBook{
    list-style-type:none;
    border-radius:25px;
    text-decoration:none;
    
    
}
#deleteTrackedBook:hover {
    background-color: lightblue;
}

/*Friend Requests Pending:*/

#pendingRequest{
    color: darkred;
}

#FriendsBackground {
    background-image: url("../images/p.jpg");
  
}
.textFont {
    font-family: "Times New Roman", Times, serif;
}