body {
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.bodybackground {
    background-image: url("../images/bookwallpaper.jpg");
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}

/* Carousel 
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    background-image: url("../images/bookwallpaper.jpg");
}
*/
/* Make .svg files in the carousel display properly in older browsers
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
     */
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens
@media screen and (max-width: 767px) {
  
    .carousel-caption {
        display: none;
    }
}
     */

/*Styling for the Search Bar*/
#bookSearch {
    list-style-type: none;
    text-decoration: none;
    margin-left: 250px;
    width: 420px;
    height: 40px;
    font: 180px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

#bookSearch__button {
    height:40px;
}

.BookSearchWithButton{
    border:;
}

#bookGrid {
    background-color: rgba(211, 207, 204, 0.952);
    border-radius: 25px;
}
.banner {
    width: 800px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.col-md-3.bookGrid__book {
    text-align: center;
    justify-content: center;
    padding-top: 28px;
    padding-left:10px;
    padding-right:10px;
    border-color:black;
    
}


