@{
    ViewData["Title"] = "Home Page";
}


<body class="bodybackground">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">

            <li data-target="#myCarousel" data-slide-to="1"></li>

        </ol>
        <div>
            <img src="~/images/finale.png" alt="ASP.NET" class="banner" align="middle" />
           
        </div>
        <div class="BookSearchWithButton">
            <ul>
                <li>
                    <input type="text" placeholder="Search for Books and Authors" id="bookSearch" />
                    <button id="bookSearch__button">Search</button>
                </li>
            </ul>
        </div>
        @* BRING IN THE BOOK GRID *@
        <div id="bookGrid"></div>
        @* end the book grid call *@
       
    </div>

    <div class="row">


    </div>
    </body>

                   