@model List<ApplicationUser>
<h2>Searching for Friends...</h2>

@foreach (var friend in Model)
{
   
       
   <div></div>
    
        @friend.FirstName @friend.LastName
        <a asp-action="SendFriendRequest" asp-route-UserRecieverId="@friend.Id" id="SendFriendRequest">Friend Request?</a>



}



