@model IEnumerable<NSSBackEndProject.Models.Friendship>

@{
    ViewData["Title"] = "MyFriends";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFriends</title>
</head>
<body>
    @*You will see a list of your friends ?*@
    <div><strong>Current Friends</strong></div>
    @*Need a list of friends that displays the picture and Name - clicking on their name bring you to their bookshelf*@

    <div><strong> Find New LitWits</strong></div>
    <form asp-action="FriendsList">
        <input type="text" name="SearchFriends" placeholder="Search for Friends" id="userSearch" />
        <button id="userSearch__button"> Search</button>
    </form>
    <div>
        
    </div>
    @*need a search bar that grabs that application users. when they search i want them to see the users picture, name, and the requested or add friend status *@

</body>
