@model List<Book>
@{
    Layout = null;
}


    <h1>BookShelf</h1>
    @*<div>
        <img src="~/images/LibraryBook2.png" alt="ASP.NET" id="BookShelfFriends" align="middle" />

    </div>*@
    <div id="bookGridShelf">

        @foreach (var book in @Model)
        {

            <div class="col-md-3 bookGrid__book">
                <div class="row">
                    <div id="ListTracked">
                        <img class="fakeLink"
                             src="@Html.DisplayFor(modelItem => book.BookImage)&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="alternative text" title="@book.Description" />

                        <h4><strong>@book.BookTitle</strong></h4>
                        <p id="bookAuthor"><strong>@book.Author</strong></p>
                    </div>
                </div>
              
            </div>
            
            }
    </div>


