
@model NSSBackEndProject.Models.BookViewModel


<h1>Yay! You tracked a book!</h1>

<div id="bookGrid" class="container-fluid">

    @*@foreach (var trackedBook in Model.TrackedUserBooks)
    {
        <div class='row'>
            <div class="col-md-3 BookGrid__book"
                 id="book--@Html.DisplayFor(modelItem => trackedBook.BookId)">

                <h2 class="fakeLink">@Html.DisplayFor(modelItem => trackedBook.BookTitle)</h2>
                <img class="fakeLink"
                src="https://www.googleapis.com/books/v1/volumes?q=@Html.DisplayFor(modelItem => trackedBook.BookImage)" />
                <br /><br />
                <button class="AddFavoriteBook">New Favorite Book</button>

            </div>
        </div>
    }*@


</div>